.intro {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.intro_line {
    font-size: 2.5rem;
    /* margin-right: 1rem; */
    color: var(--primary-text-color);
}

.pfp {
    width: 300px;
    height: 300px;
}

@media (max-width: 800px) {
    .intro {
        margin-top: 2rem;
        flex-direction: column;
        gap: 2rem;
    }

    .pfp {
        width: 250px;
        height: 250px;
    }
}
