.date {
    color: var(--accent-color);
}

.title {
    color: var(--primary-text-color);
}

.content {
    color: var(--primary-text-color);
    line-height: 1.5rem;
}

.content  h1 {
    font-size: 1.5rem;
}

.content  h2 {
    font-size: 1.3rem;
}

.content  blockquote {
    border-left: 4px solid rgb(231, 235, 238);
    padding-left: 1.5rem;
    margin: 1rem 0px 0px;
    font-style: italic;
}

.content  p {
    font-size: 1.25rem;
}

.content  ol {
    line-height: 1.5rem;
}

.content  li {
    line-height: 1.5rem;
}