:root {
    --accent-color: #bc6ff1;
    --bg-color: #181818;
    --secondary-bg-color: #8d99ae;
    --primary-text-color: #eeeeee;
}

body {
    background-color: var(--bg-color);
}

html {
    font-size: 100%;
    font-family: "Josefin Sans", sans-serif;
    color: #eeeeee;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: var(--accent-color);
}

.special {
    color: var(--accent-color);
}

.container {
    max-width: 80%;
    margin: auto;
}

section {
    min-height: 80vh;
}

.post-page-title {
    color: var(--accent-color);
    font-size: 3rem;
}

.post-page {
    margin-top: 5%;
}

@media (max-width: 800px) {
    html {
        font-size: 80%;
    }
}
