:root {
    --accent-color: #ffc600;
    --bg-color: #000000;
    --secondary-bg-color: #8d99ae;
    --primary-text-color: #eeeeee;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}

html {
    font-size: 100%;
    font-family: "Josefin Sans", sans-serif;
    color: #eeeeee;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: var(--accent-color);
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.special {
    color: var(--accent-color);
}

.container {
    width: 80%;
    /* margin: 2rem auto; */
}

.post-page-title {
    color: var(--accent-color);
    font-size: 3rem;
    margin: 1rem 0;
}

.post-page {
    margin: 1rem auto;
}

@media (max-width: 800px) {
    html {
        font-size: 90%;
    }
}
