:root {
    --accent-color: #ef233c;
    --bg-color: #2b2d42;
    --secondary-bg-color: #8d99ae;
    --primary-text-color: #edf2f4;
}

body {
    background-color: var(--bg-color);
}

html {
    font-size: 100%;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.special {
    color: var(--accent-color);
}

.container {
    max-width: 80%;
    margin: auto;
}

section {
    min-height: 80vh;
}

@media (max-width: 800px) {
    html {
        font-size: 80%;
    }

    section {
        margin: 2rem 0;
    }
}
